@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');


* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }
          
          body {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background-color: dimgray;
            font-family: "Stalinist One", sans-serif;
            background: url(./stock-photo-newspaper-magazine-collage-background-texture-torn-clippings-scrap-paper-black-and-white-2277328305.jpg);
            backdrop-filter: blur(3px);
          }
          img{
            width: 300px;
          }
          .container {
            animation: scale-up 2.5s linear;
          }
          
          .newsletter {
            width: 800px;
            background: url(./1625868230_34-kartinkin-com-p-tekstura-myatoi-bumagi-krasivo-39.jpg);
            padding: 5px;
            backdrop-filter: blur(3px);
            border: 1px solid black;
            transform: rotate(-5deg);
            animation: rotate 0.5s linear 5;
            position: relative;
          }
          
          .newsletter::before {
            content: '';
            width: 8px;
            height: 98%;
            position: absolute;
            left: -10px;
            top: 1%;
            background: url(./stock-photo-newspaper-magazine-collage-background-texture-torn-clippings-scrap-paper-black-and-white-2277328305.jpg);
            border: 1px solid black;
          }
          
          .newsletter::after {
            content: '';
            width: 8px;
            height: 96%;
            position: absolute;
            left: -19px;
            top: 2%;
            background: url(./stock-photo-newspaper-magazine-collage-background-texture-torn-clippings-scrap-paper-black-and-white-2277328305.jpg);
            border: 1px solid black;
          }
          
          .name {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            font-size: 24px;
          }
          
          .info {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 10px 5px;
            font-size: 10px;
          }
          
          .title h1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            font-size: 20px;
          }
          
          .content {
            display: flex;
          }
          
          .left-side {
            display: flex;
            flex-direction: column;
          }
          
          .left-side h2 {
            display: flex;
            flex-direction: column;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 10px 5px;
            font-size: 18px;
          }
          
          .left-side div {
            display: flex;
          }
          
          .left-side div p {
            padding: 5px;
            font-size: 12px;
          }
          
          .right-side {
            padding: 0 10px;
            font-size: x-small;
            font-size: 10px;
           
          }
          
          @keyframes rotate {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(-360deg);}
          }
          
          @keyframes scale-up {
            0% {transform: scale(1%);}
            100% {transform: scale(100%);}
          }

          @media (max-width: 1200px) {
            .newsletter {
              width: 600px;
            }
          
            .title h1 {
              font-size: 18px;
            }
          
            .left-side h2 {
              font-size: 16px;
            }
          
            .left-side div p {
              font-size: 10px;
            }
          
            .right-side {
              font-size: 8px;
            }
          }
          
          @media (max-width: 992px) {
            .newsletter {
              width: 500px;
            }
          
            .title h1 {
              font-size: 16px;
            }
          
            .left-side h2 {
              font-size: 14px;
            }
          
            .left-side div p {
              font-size: 8px;
            }
          
            .right-side {
              font-size: 6px;
            }
          }
          
          @media (max-width: 768px) {
            .newsletter {
              width: 400px;
            }
          
            .title h1 {
              font-size: 14px;
            }
          
            .left-side h2 {
              font-size: 12px;
            }
          
            .left-side div p {
              font-size: 6px;
            }
          
            .right-side {
              font-size: 5px;
            }
          }
          
          @media (max-width: 576px) {
            .newsletter {
              width: 500px;
            }
          
            .title h1 {
              font-size: 16px;
            }
          
            .left-side h2 {
              font-size: 10px;
            }
          
            .left-side div p {
              font-size: 10px;
            }
          
            .right-side {
              font-size: 8px;
            }

            img{
                        width: 200px;
            }
          }
          
          @media (max-width: 470px) {
            .newsletter {
              width: 350px;
            }
          img{
            width: 90px;
          }
            .title h1 {
              font-size: 10px;
            }
          
            .left-side h2 {
              font-size: 8px;
            }
          
            .left-side div p {
              font-size: 8px;
            }
          
            .right-side {
              font-size: 6px;
            }
          }